*.DDS
*.GR2
*.png
*.jpeg
*.jpg
*.GIF
*.bshd
*.bin
*.zip
*.patch
*.gtp
*.gts
*.lsbc
*.lsbs
*.lsfx
*.wem
*.bk2
*.lsf
*.ffxanim
*.ffxactor
*.ffxbones
*.bnk
.vscode/settings.json
.vscode/workerSettings.json